HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


src/main/resources/application-prd.properties

/target/
/build/
/out/

# IDEs
/.idea/
/.vscode/
/eclipse/
/*.iml

# Maven / Gradle Wrapper
.gradle/

# Logs
/logs/
/*.log

# OS Files
.DS_Store
Thumbs.db

# Env / Secrets
.env
.env.*

# Temp
/tmp/
/*.tmp
